venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
*.pkl
dist/
build/
env/
.eggs/
.venv/
.env/
pipeline/
data_base/
cache/

# VS Code settings (personal configuration)
.vscode/

# GitHub workflows (if not needed)
.github/
